<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student World</title>
</head>
<body>
    <div align="center">
        <h1>Welcome to Student World</h1>

        <form th:action="@{__${T(com.mani.SpringHibDemo.util.MappingAttributes).STUDENT_DELETE}__}" method="post">
            <label>Enter Id : </label>
            <input type="number" id="id" name="id"/>
            <input type="submit" value="Submit">
        </form>
        <br>
        <h2>
            <a th:href="@{__${T(com.mani.SpringHibDemo.util.MappingAttributes).STUDENT_OPERATION}__}">way to home</a>
        </h2>
        <h3 th:text="${delete_message}"></h3>
    </div>
</body>
</html>